@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
  }
  
  header {
    background-color: #2b1055;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .content {
    display: flex;
  }
  
  .sidebar {
    background-color: #f1f1f1;
    width: 200px;
    height: calc(100vh - 60px); /* Ajustar la altura del sidebar */
    padding: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  .sidebar a:hover {
    background-color: #ddd;
  }
  