@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  
  header {
    background-color: #2b1055;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  .content {
    display: flex;
  }

/*Estilo de la barra lateral*/
  .sidebar {
    background: linear-gradient(to top,#3e0a43,#1c0522);
    width: 200px;
    height: calc(100vh - 60px); /* Ajustar la altura del sidebar */
    padding: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }

.link-button {
  text-decoration: none;
  border-bottom: none;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  }

  .link-button:hover {
    text-decoration: underline;
  }

  
  .sidebar a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  .sidebar a:hover {
    background-color: #ddd;
  }

   /* Centrar la tabla en la página */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reservas {
  width: 80%;
  margin: 0 auto;
}

/* Estilo de la tabla */
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to top, #3e0a43, #1c0522);
  }
  
  /* Estilo de los encabezados (th) */
  th {
    padding: 10px;
    text-align: center;
    color: #fff;
  }
  
  /* Estilo de las filas pares */
  tr:nth-child(even) {
    background-color: rgba(62, 10, 67, 0.8);
  }
  
  /* Estilo de los datos (td) */
  td {
    padding: 10px;
    text-align: center;
    color: #fff;
  }
  
  /* Estilo del paginador */
  #paginator {
    margin-top: 10px;
    text-align: center;
  }
  
  #paginator button {
    margin: 0 5px;
    padding: 5px 10px;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #paginator button.active {
    background-color: #9c0c8b;
  }
  
  #paginator button:not(.active) {
    background-color: #ffffff;
  }



  